@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::backdrop {
  unset: all;
}

.finance-with-findustrial > a {
  box-sizing: border-box;
}

.finance-with-findustrial {
  font-family: 'Montserrat', sans-serif;
}
